openapi: "3.0.0"

info:
  title: eInnsyn REST API
  version: "3.0"

servers:
  - url: https://api.einnsyn.no/

tags:
  - name: Arkiv
  - name: Arkivdel
  - name: Bruker
  - name: Dokumentbeskrivelse
  - name: Dokumentobjekt
  - name: Enhet
  - name: Innsynskrav
  - name: InnsynskravDel
  - name: Journalpost
  - name: Klasse
  - name: Korrespondansepart
  - name: Moetemappe
  - name: Saksmappe
  - name: Skjerming

paths:
  /arkiv:
    get:
      description: Get a Arkiv list.
      tags:
        - Arkiv
      operationId: GetArkivList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Arkiv"
    post:
      description: Create a Arkiv.
      tags:
        - Arkiv
      operationId: PostArkiv
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Arkiv"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Arkiv"

  /arkiv/{arkivId}:
    get:
      description: Get a single Arkiv.
      tags:
        - Arkiv
      operationId: GetArkiv
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: arkivId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkiv
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Arkiv"
    put:
      description: Update a single Arkiv.
      tags:
        - Arkiv
      operationId: PutArkiv
      parameters:
        - name: arkivId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkiv
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Arkiv"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Arkiv"
    delete:
      description: Delete a single Arkiv.
      tags:
        - Arkiv
      operationId: DeleteArkiv
      parameters:
        - name: arkivId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkiv
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Arkiv"

  /arkiv/{arkivId}/arkivdel:
    get:
      description: Get a Arkivdel list.
      tags:
        - Arkivdel
      operationId: GetArkivArkivdelList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: arkivId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkiv
        - name: arkivId
          in: query
          description: Filter by Arkiv
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Arkivdel"
    post:
      description: Create a Arkivdel.
      tags:
        - Arkivdel
      parameters:
        - name: arkivId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkiv
      operationId: PostArkivArkivdel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Arkivdel"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Arkivdel"

  /arkiv/{arkivId}/arkiv:
    get:
      description: Get a Arkiv list.
      tags:
        - Arkiv
      operationId: GetArkivArkivList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: arkivId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkiv
        - name: arkivId
          in: query
          description: Filter by Arkiv
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Arkiv"
    post:
      description: Create a Arkiv.
      tags:
        - Arkiv
      operationId: PostArkivArkiv
      parameters:
        - name: arkivId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkiv
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Arkiv"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Arkiv"

  /arkiv/{arkivId}/saksmappe:
    get:
      description: Get a Saksmappe list.
      tags:
        - Saksmappe
      operationId: GetArkivSaksmappeList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: arkivId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkiv
        - name: arkivId
          in: query
          description: Filter by Arkiv
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Saksmappe"
    post:
      description: Create a Saksmappe.
      tags:
        - Saksmappe
      operationId: PostArkivSaksmappe
      parameters:
        - name: arkivId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkiv
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Saksmappe"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Saksmappe"

  /arkiv/{arkivId}/moetemappe:
    get:
      description: Get a Moetemappe list.
      tags:
        - Moetemappe
      operationId: GetArkivMoetemappeList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: arkivId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkiv
        - name: arkivId
          in: query
          description: Filter by Arkiv
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Moetemappe"
    post:
      description: Create a Moetemappe.
      tags:
        - Moetemappe
      operationId: PostArkivMoetemappe
      parameters:
        - name: arkivId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkiv
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Moetemappe"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetemappe"

  /arkivdel:
    get:
      description: Get an Arkivdel list.
      tags:
        - Arkivdel
      operationId: GetArkivdelList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Arkivdel"

  /arkivdel/{arkivdelId}:
    get:
      description: Get a single Arkivdel.
      tags:
        - Arkivdel
      operationId: GetArkivdel
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: arkivdelId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkivdel
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Arkivdel"
    put:
      description: Update a single Arkivdel.
      tags:
        - Arkivdel
      operationId: PutArkivdel
      parameters:
        - name: arkivdelId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkivdel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Arkivdel"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Arkivdel"
    delete:
      description: Delete a single Arkivdel.
      tags:
        - Arkivdel
      operationId: DeleteArkivdel
      parameters:
        - name: arkivdelId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkivdel
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Arkivdel"

  /arkivdel/{arkivdelId}/klasse:
    get:
      description: Get a Klasse list.
      tags:
        - Klasse
      operationId: GetArkivdelKlasseList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: arkivdelId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkivdel
        - name: arkivdelId
          in: query
          description: Filter by Arkivdel
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Klasse"
    post:
      description: Create a Klasse.
      tags:
        - Klasse
      operationId: PostArkivdelKlasse
      parameters:
        - name: arkivdelId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkivdel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Klasse"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Klasse"

  /arkivdel/{arkivdelId}/klassifikasjonssystem:
    get:
      description: Get a Klassifikasjonssystem list.
      tags:
        - Klassifikasjonssystem
      operationId: GetArkivdelKlassifikasjonssystemList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: arkivdelId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkivdel
        - name: arkivdelId
          in: query
          description: Filter by Arkivdel
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Klassifikasjonssystem"
    post:
      description: Create a Klassifikasjonssystem.
      tags:
        - Klassifikasjonssystem
      operationId: PostArkivdelKlassifikasjonssystem
      parameters:
        - name: arkivdelId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkivdel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Klassifikasjonssystem"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Klassifikasjonssystem"

  /arkivdel/{arkivdelId}/saksmappe:
    get:
      description: Get a Saksmappe list.
      tags:
        - Saksmappe
      operationId: GetArkivdelSaksmappeList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: arkivdelId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkivdel
        - name: arkivdelId
          in: query
          description: Filter by Arkivdel
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Saksmappe"
    post:
      description: Create a Saksmappe.
      tags:
        - Saksmappe
      operationId: PostArkivdelSaksmappe
      parameters:
        - name: arkivdelId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkivdel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Saksmappe"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Saksmappe"

  /arkivdel/{arkivdelId}/moetemappe:
    get:
      description: Get a Moetemappe list.
      tags:
        - Moetemappe
      operationId: GetArkivdelMoetemappeList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: arkivdelId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkivdel
        - name: arkivdelId
          in: query
          description: Filter by Arkivdel
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Moetemappe"
    post:
      description: Create a Moetemappe.
      tags:
        - Moetemappe
      operationId: PostArkivdelMoetemappe
      parameters:
        - name: arkivdelId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Arkivdel
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Moetemappe"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetemappe"

  /behandlingsprotokoll:
    get:
      description: Get a Behandlingsprotokoll list.
      tags:
        - Behandlingsprotokoll
      operationId: GetBehandlingsprotokollList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Behandlingsprotokoll"

  /behandlingsprotokoll/{behandlingsprotokollId}:
    get:
      description: Get a single Behandlingsprotokoll.
      tags:
        - Behandlingsprotokoll
      operationId: GetBehandlingsprotokoll
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: behandlingsprotokollId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Behandlingsprotokoll
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Behandlingsprotokoll"
    put:
      description: Update a single Behandlingsprotokoll.
      tags:
        - Behandlingsprotokoll
      operationId: PutBehandlingsprotokoll
      parameters:
        - name: behandlingsprotokollId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Behandlingsprotokoll
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Behandlingsprotokoll"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Behandlingsprotokoll"
    delete:
      description: Delete a single Behandlingsprotokoll.
      tags:
        - Behandlingsprotokoll
      operationId: DeleteBehandlingsprotokoll
      parameters:
        - name: behandlingsprotokollId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Behandlingsprotokoll
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Behandlingsprotokoll"

  /dokumentobjekt:
    get:
      description: Get a Dokumentobjekt list.
      tags:
        - Dokumentobjekt
      operationId: GetDokumentobjektList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Dokumentobjekt"

  /dokumentobjekt/{dokumentobjektId}:
    get:
      description: Get a single Dokumentobjekt.
      tags:
        - Dokumentobjekt
      operationId: GetDokumentobjekt
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: dokumentobjektId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Dokumentobjekt
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dokumentobjekt"
    put:
      description: Update a single Dokumentobjekt.
      tags:
        - Dokumentobjekt
      operationId: PutDokumentobjekt
      parameters:
        - name: dokumentobjektId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Dokumentobjekt
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Dokumentobjekt"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dokumentobjekt"
    delete:
      description: Delete a single Dokumentobjekt.
      tags:
        - Dokumentobjekt
      operationId: DeleteDokumentobjekt
      parameters:
        - name: dokumentobjektId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Dokumentobjekt
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dokumentobjekt"

  /identifikator:
    get:
      description: Get a Identifikator list.
      tags:
        - Identifikator
      operationId: GetIdentifikatorList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Identifikator"

  /identifikator/{identifikatorId}:
    get:
      description: Get a single Identifikator.
      tags:
        - Identifikator
      operationId: GetIdentifikator
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: identifikatorId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Identifikator
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Identifikator"
    put:
      description: Update a single Identifikator.
      tags:
        - Identifikator
      operationId: PutIdentifikator
      parameters:
        - name: identifikatorId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Identifikator
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Identifikator"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Identifikator"
    delete:
      description: Delete a single Identifikator.
      tags:
        - Identifikator
      operationId: DeleteIdentifikator
      parameters:
        - name: identifikatorId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Identifikator
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Identifikator"

  /innsynskrav:
    get:
      description: Get a Innsynskrav list.
      tags:
        - Innsynskrav
      operationId: GetInnsynskravList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Innsynskrav"
    post:
      description: Create a Innsynskrav.
      tags:
        - Innsynskrav
      operationId: PostInnsynskrav
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Innsynskrav"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Innsynskrav"

  /innsynskrav/{innsynskravId}:
    get:
      description: Get a Innsynskrav.
      tags:
        - Innsynskrav
      operationId: GetInnsynskrav
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: innsynskravId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Innsynskrav
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Innsynskrav"
    put:
      description: Update a Innsynskrav.
      tags:
        - Innsynskrav
      operationId: PutInnsynskrav
      parameters:
        - name: innsynskravId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Innsynskrav
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Innsynskrav"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Innsynskrav"
    delete:
      description: Delete a request.
      tags:
        - Innsynskrav
      operationId: DeleteInnsynskrav
      parameters:
        - name: innsynskravId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Innsynskrav
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Innsynskrav"

  /innsynskrav/{innsynskravId}/innsynskravDel:
    get:
      description: Get a InnsynskravDel list.
      tags:
        - InnsynskravDel
      operationId: GetInnsynskravInnsynskravDelList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: innsynskravId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Innsynskrav
        - name: innsynskravId
          in: query
          description: Filter by Innsynskrav
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/InnsynskravDel"

  /innsynskrav/{innsynskravId}/verify/{secret}:
    put:
      description: Verify a Innsynskrav.
      tags:
        - Innsynskrav
      operationId: VerifyInnsynskrav
      parameters:
        - name: innsynskravId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Innsynskrav
        - name: secret
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Innsynskrav"

  /innsynskravDel:
    get:
      description: Get a InnsynskravDel list.
      tags:
        - InnsynskravDel
      operationId: GetInnsynskravDelList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/InnsynskravDel"

  /innsynskravDel/{innsynskravDelId}:
    get:
      description: Get a single InnsynskravDel.
      tags:
        - InnsynskravDel
      operationId: GetInnsynskravDel
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: innsynskravDelId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: InnsynskravDel
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InnsynskravDel"

  /klasse:
    get:
      description: Get a Klasse list.
      tags:
        - Klasse
      operationId: GetKlasseList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Klasse"

  /klasse/{klasseId}:
    get:
      description: Get a single Klasse.
      tags:
        - Klasse
      operationId: GetKlasse
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: klasseId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Klasse
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Klasse"
    put:
      description: Update a single Klasse.
      tags:
        - Klasse
      operationId: PutKlasse
      parameters:
        - name: klasseId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Klasse
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Klasse"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Klasse"
    delete:
      description: Delete a single Klasse.
      tags:
        - Klasse
      operationId: DeleteKlasse
      parameters:
        - name: klasseId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Klasse
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Klasse"

  /klasse/{klasseId}/klasse:
    get:
      description: Get a Klasse list.
      tags:
        - Klasse
      operationId: GetKlasseKlasseList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: klasseId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Klasse
        - name: klasseId
          in: query
          description: Filter by Klasse
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Klasse"
    post:
      description: Create a Klasse.
      tags:
        - Klasse
      operationId: PostKlasseKlasse
      parameters:
        - name: klasseId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Klasse
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Klasse"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Klasse"

  /klasse/{klasseId}/saksmappe:
    get:
      description: Get a Saksmappe list.
      tags:
        - Saksmappe
      operationId: GetKlasseSaksmappeList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: klasseId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Klasse
        - name: klasseId
          in: query
          description: Filter by Klasse
          schema:
            type: string

      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Saksmappe"
    post:
      description: Create a Saksmappe.
      tags:
        - Saksmappe
      operationId: PostKlasseSaksmappe
      parameters:
        - name: klasseId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Klasse
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Saksmappe"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Saksmappe"

  /klasse/{klasseId}/moetemappe:
    get:
      description: Get a Moetemappe list.
      tags:
        - Moetemappe
      operationId: GetKlasseMoetemappeList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: klasseId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Klasse
        - name: klasseId
          in: query
          description: Filter by Klasse
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Moetemappe"
    post:
      description: Create a Moetemappe.
      tags:
        - Moetemappe
      operationId: PostKlasseMoetemappe
      parameters:
        - name: klasseId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Klasse
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Moetemappe"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetemappe"

  /klassifikasjonssystem:
    get:
      description: Get a Klassifikasjonssystem list.
      tags:
        - Klassifikasjonssystem
      operationId: GetKlassifikasjonssystemList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Klassifikasjonssystem"

  /klassifikasjonssystem/{klassifikasjonssystemId}:
    get:
      description: Get a single Klassifikasjonssystem.
      tags:
        - Klassifikasjonssystem
      operationId: GetKlassifikasjonssystem
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: klassifikasjonssystemId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Klassifikasjonssystem
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Klassifikasjonssystem"
    put:
      description: Update a single Klassifikasjonssystem.
      tags:
        - Klassifikasjonssystem
      operationId: PutKlassifikasjonssystem
      parameters:
        - name: klassifikasjonssystemId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Klassifikasjonssystem
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Klassifikasjonssystem"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Klassifikasjonssystem"
    delete:
      description: Delete a single Klassifikasjonssystem.
      tags:
        - Klassifikasjonssystem
      operationId: DeleteKlassifikasjonssystem
      parameters:
        - name: klassifikasjonssystemId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Klassifikasjonssystem
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Klassifikasjonssystem"

  /klassifikasjonssystem/{klassifikasjonssystemId}/klasse:
    get:
      description: Get a Klasse list.
      tags:
        - Klasse
      operationId: GetKlassifikasjonssystemKlasseList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: klassifikasjonssystemId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Klassifikasjonssystem
        - name: klassifikasjonssystemId
          in: query
          description: Filter by Klassifikasjonssystem
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Klasse"
    post:
      description: Create a Klasse.
      tags:
        - Klasse
      operationId: PostKlassifikasjonssystemKlasse
      parameters:
        - name: klassifikasjonssystemId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Klassifikasjonssystem
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Klasse"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Klasse"

  /korrespondansepart:
    get:
      description: Get a Korrespondansepart list.
      tags:
        - Korrespondansepart
      operationId: GetKorrespondansepartList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Korrespondansepart"

  /korrespondansepart/{korrespondansepartId}:
    get:
      description: Get a single Korrespondansepart.
      tags:
        - Korrespondansepart
      operationId: GetKorrespondansepart
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: korrespondansepartId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Korrespondansepart
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Korrespondansepart"
    put:
      description: Update a single Korrespondansepart.
      tags:
        - Korrespondansepart
      operationId: PutKorrespondansepart
      parameters:
        - name: korrespondansepartId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Korrespondansepart
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Korrespondansepart"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Korrespondansepart"
    delete:
      description: Delete a single Korrespondansepart.
      tags:
        - Korrespondansepart
      operationId: DeleteKorrespondansepart
      parameters:
        - name: korrespondansepartId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Korrespondansepart
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Korrespondansepart"

  /lagretSak:
    get:
      description: Get a LagretSak list.
      tags:
        - LagretSak
      operationId: GetLagretSakList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
        - name: brukerId
          in: query
          description: Filter by BrukerId
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/LagretSak"

  /lagretSak/{lagretSakId}:
    get:
      description: Get a single LagretSak.
      tags:
        - LagretSak
      operationId: GetLagretSak
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: lagretSakId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: LagretSak
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LagretSak"
    put:
      description: Update a single LagretSak.
      tags:
        - LagretSak
      operationId: PutLagretSak
      parameters:
        - name: lagretSakId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: LagretSak
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LagretSak"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LagretSak"
    delete:
      description: Delete a single LagretSak.
      tags:
        - LagretSak
      operationId: DeleteLagretSak
      parameters:
        - name: lagretSakId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: LagretSak
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LagretSak"

  /lagretSoek:
    get:
      description: Get a LagretSoek list.
      tags:
        - LagretSoek
      operationId: GetLagretSoekList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
        - name: brukerId
          in: query
          description: Filter by BrukerId
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/LagretSoek"

  /lagretSoek/{lagretSoekId}:
    get:
      description: Get a single LagretSoek.
      tags:
        - LagretSoek
      operationId: GetLagretSoek
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: lagretSoekId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: LagretSoek
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LagretSoek"
    put:
      description: Update a single LagretSoek.
      tags:
        - LagretSoek
      operationId: PutLagretSoek
      parameters:
        - name: lagretSoekId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: LagretSoek
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LagretSoek"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LagretSoek"
    delete:
      description: Delete a single LagretSoek.
      tags:
        - LagretSoek
      operationId: DeleteLagretSoek
      parameters:
        - name: lagretSoekId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: LagretSoek
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LagretSoek"

  /moetedeltaker:
    get:
      description: Get a Moetedeltaker list.
      tags:
        - Moetedeltaker
      operationId: GetMoetedeltakerList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Moetedeltaker"

  /moetedeltaker/{moetedeltakerId}:
    get:
      description: Get a single Moetedeltaker.
      tags:
        - Moetedeltaker
      operationId: GetMoetedeltaker
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: moetedeltakerId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Moetedeltaker
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetedeltaker"
    put:
      description: Update a single Moetedeltaker.
      tags:
        - Moetedeltaker
      operationId: PutMoetedeltaker
      parameters:
        - name: moetedeltakerId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Moetedeltaker
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Moetedeltaker"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetedeltaker"
    delete:
      description: Delete a single Moetedeltaker.
      tags:
        - Moetedeltaker
      operationId: DeleteMoetedeltaker
      parameters:
        - name: moetedeltakerId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Moetedeltaker
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetedeltaker"

  /moetedokument:
    get:
      description: Get a Moetedokument list.
      tags:
        - Moetedokument
      operationId: GetMoetedokumentList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Moetedokument"

  /moetedokument/{moetedokumentId}:
    get:
      description: Get a single Moetedokument.
      tags:
        - Moetedokument
      operationId: GetMoetedokument
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: moetedokumentId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Moetedokument
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetedokument"
    put:
      description: Update a single Moetedokument.
      tags:
        - Moetedokument
      operationId: PutMoetedokument
      parameters:
        - name: moetedokumentId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Moetedokument
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Moetedokument"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetedokument"
    delete:
      description: Delete a single Moetedokument.
      tags:
        - Moetedokument
      operationId: DeleteMoetedokument
      parameters:
        - name: moetedokumentId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Moetedokument
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetedokument"

  /moetedokument/{moetedokumentId}/dokumentbeskrivelse:
    get:
      description: Get a Dokumentbeskrivelse list.
      tags:
        - Dokumentbeskrivelse
      operationId: GetMoetedokumentDokumentbeskrivelseList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: moetedokumentId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Moetedokument
        - name: moetedokumentId
          in: query
          description: Filter by Moetedokument
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Dokumentbeskrivelse"
    post:
      description: Create a Dokumentbeskrivelse, or relate to an existing one.
      tags:
        - Dokumentbeskrivelse
      operationId: PostMoetedokumentDokumentbeskrivelse
      parameters:
        - name: moetedokumentId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Moetedokument
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - type: string
                - $ref: "#/components/schemas/Dokumentbeskrivelse"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dokumentbeskrivelse"

  /moetesak:
    get:
      description: Get a Moetesak list.
      tags:
        - Moetesak
      operationId: GetMoetesakList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Moetesak"
    post:
      description: Create a Moetesak.
      tags:
        - Moetesak
      operationId: PostMoetesak
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Moetesak"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetesak"

  /moetesak/{moetesakId}:
    get:
      description: Get a single Moetesak.
      tags:
        - Moetesak
      operationId: GetMoetesak
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: moetesakId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Moetesak
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetesak"
    put:
      description: Update a single Moetesak.
      tags:
        - Moetesak
      operationId: PutMoetesak
      parameters:
        - name: moetesakId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Moetesak
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Moetesak"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetesak"
    delete:
      description: Delete a single Moetesak.
      tags:
        - Moetesak
      operationId: DeleteMoetesak
      parameters:
        - name: moetesakId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Moetesak
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetesak"

  /moetesak/{moetesakId}/dokumentbeskrivelse:
    get:
      description: Get a Dokumentbeskrivelse list.
      tags:
        - Dokumentbeskrivelse
      operationId: GetMoetesakDokumentbeskrivelseList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: moetesakId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Moetesak
        - name: moetesakId
          in: query
          description: Filter by Moetesak
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Dokumentbeskrivelse"
    post:
      description: Create a Dokumentbeskrivelse.
      tags:
        - Dokumentbeskrivelse
      operationId: PostMoetesakDokumentbeskrivelse
      parameters:
        - name: moetesakId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Moetesak
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - type: string
                - $ref: "#/components/schemas/Dokumentbeskrivelse"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dokumentbeskrivelse"

  /moetesaksbeskrivelse:
    get:
      description: Get a Moetesaksbeskrivelse list.
      tags:
        - Moetesaksbeskrivelse
      operationId: GetMoetesaksbeskrivelseList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Moetesaksbeskrivelse"

  /moetesaksbeskrivelse/{moetesaksbeskrivelseId}:
    get:
      description: Get a single Moetesaksbeskrivelse.
      tags:
        - Moetesaksbeskrivelse
      operationId: GetMoetesaksbeskrivelse
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: moetesaksbeskrivelseId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Moetesaksbeskrivelse
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetesaksbeskrivelse"
    put:
      description: Update a single Moetesaksbeskrivelse.
      tags:
        - Moetesaksbeskrivelse
      operationId: PutMoetesaksbeskrivelse
      parameters:
        - name: moetesaksbeskrivelseId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Moetesaksbeskrivelse
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Moetesaksbeskrivelse"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetesaksbeskrivelse"
    delete:
      description: Delete a single Moetesaksbeskrivelse.
      tags:
        - Moetesaksbeskrivelse
      operationId: DeleteMoetesaksbeskrivelse
      parameters:
        - name: moetesaksbeskrivelseId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Moetesaksbeskrivelse
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetesaksbeskrivelse"

  /skjerming:
    get:
      description: Get a Skjerming list.
      tags:
        - Skjerming
      operationId: GetSkjermingList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Skjerming"
    post:
      description: Create a Skjerming.
      tags:
        - Skjerming
      operationId: PostSkjerming
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Skjerming"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skjerming"

  /skjerming/{skjermingId}:
    get:
      description: Get a single Skjerming.
      tags:
        - Skjerming
      operationId: GetSkjerming
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: skjermingId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Skjerming
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skjerming"
    put:
      description: Update a single Skjerming.
      tags:
        - Skjerming
      operationId: PutSkjerming
      parameters:
        - name: skjermingId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Skjerming
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Skjerming"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skjerming"
    delete:
      description: Delete a single Skjerming.
      tags:
        - Skjerming
      operationId: DeleteSkjerming
      parameters:
        - name: skjermingId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Skjerming
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skjerming"

  /utredning:
    get:
      description: Get a Utredning list.
      tags:
        - Utredning
      operationId: GetUtredningList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Utredning"

  /utredning/{utredningId}:
    get:
      description: Get a single Utredning.
      tags:
        - Utredning
      operationId: GetUtredning
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: utredningId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Utredning
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Utredning"
    put:
      description: Update a single Utredning.
      tags:
        - Utredning
      operationId: PutUtredning
      parameters:
        - name: utredningId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Utredning
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Utredning"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Utredning"
    delete:
      description: Delete a single Utredning.
      tags:
        - Utredning
      operationId: DeleteUtredning
      parameters:
        - name: utredningId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Utredning
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Utredning"

  /utredning/{utredningId}/utredningsdokument:
    get:
      description: Get a Utredningsdokument list.
      tags:
        - Utredning
      operationId: GetUtredningUtredningsdokumentList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: utredningId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Utredning
        - name: utredningId
          in: query
          description: Filter by Utredning
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Dokumentbeskrivelse"
    post:
      description: Create a Utredningsdokument.
      tags:
        - Utredning
      operationId: PostUtredningUtredningsdokument
      parameters:
        - name: utredningId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Utredning
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Dokumentbeskrivelse"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dokumentbeskrivelse"

  /utredning/{utredningId}/utredningsdokument/{utredningsdokumentId}:
    delete:
      description: Delete a single Utredningsdokument.
      tags:
        - Utredning
      operationId: DeleteUtredningUtredningsdokument
      parameters:
        - name: utredningId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Utredning
        - name: utredningsdokumentId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Dokumentbeskrivelse
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dokumentbeskrivelse"

  /vedtak:
    get:
      description: Get a Vedtak list.
      tags:
        - Vedtak
      operationId: GetVedtakList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Vedtak"

  /vedtak/{vedtakId}:
    get:
      description: Get a single Vedtak.
      tags:
        - Vedtak
      operationId: GetVedtak
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: vedtakId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Vedtak
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vedtak"
    put:
      description: Update a single Vedtak.
      tags:
        - Vedtak
      operationId: PutVedtak
      parameters:
        - name: vedtakId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Vedtak
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Vedtak"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vedtak"
    delete:
      description: Delete a single Vedtak.
      tags:
        - Vedtak
      operationId: DeleteVedtak
      parameters:
        - name: vedtakId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Vedtak
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vedtak"

  /vedtak/{vedtakId}/vedtaksdokument:
    get:
      description: Get a Vedtaksdokument list.
      tags:
        - Vedtak
      operationId: GetVedtakVedtaksdokumentList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: vedtakId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Vedtak
        - name: vedtakId
          in: query
          description: Filter by Vedtak
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Dokumentbeskrivelse"
    post:
      description: Create a Vedtaksdokument.
      tags:
        - Vedtak
      operationId: PostVedtakVedtaksdokument
      parameters:
        - name: vedtakId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Vedtak
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Dokumentbeskrivelse"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dokumentbeskrivelse"

  /vedtak/{vedtakId}/vedtaksdokument/{vedtaksdokumentId}:
    delete:
      description: Delete a single Vedtaksdokument.
      tags:
        - Vedtak
      operationId: DeleteVedtakVedtaksdokument
      parameters:
        - name: vedtakId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Vedtak
        - name: vedtaksdokumentId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Dokumentbeskrivelse
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dokumentbeskrivelse"

  /votering:
    get:
      description: Get a Votering list.
      tags:
        - Votering
      operationId: GetVoteringList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Votering"

  /votering/{voteringId}:
    get:
      description: Get a single Votering.
      tags:
        - Votering
      operationId: GetVotering
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: voteringId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Votering
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Votering"
    put:
      description: Update a single Votering.
      tags:
        - Votering
      operationId: PutVotering
      parameters:
        - name: voteringId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Votering
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Votering"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Votering"
    delete:
      description: Delete a single Votering.
      tags:
        - Votering
      operationId: DeleteVotering
      parameters:
        - name: voteringId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Votering
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Votering"

  /enhet:
    get:
      description: Get a Enhet list.
      tags:
        - Enhet
      operationId: GetEnhetList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
        - name: parentId
          in: query
          description: Filter by parent
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Enhet"

  /enhet/{enhetId}:
    get:
      description: Get a single Enhet.
      tags:
        - Enhet
      operationId: GetEnhet
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: enhetId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Enhet
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enhet"
    put:
      description: Update a single Enhet.
      tags:
        - Enhet
      operationId: PutEnhet
      parameters:
        - name: enhetId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Enhet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Enhet"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enhet"
    delete:
      description: Delete a single Enhet.
      tags:
        - Enhet
      operationId: DeleteEnhet
      parameters:
        - name: enhetId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Enhet
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enhet"

  /enhet/{enhetId}/underenhet:
    get:
      description: Get all underenhet for a Enhet.
      tags:
        - Enhet
      operationId: GetEnhetUnderenhetList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: enhetId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Enhet
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Enhet"

    post:
      description: Add a subEnhet to a Enhet.
      tags:
        - Enhet
      operationId: PostEnhetUnderenhet
      parameters:
        - name: enhetId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Enhet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Enhet"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enhet"

  /enhet/{enhetId}/apiKey:
    get:
      description: Get a list of ApiKey for a Enhet.
      tags:
        - Enhet
      operationId: GetEnhetApiKeyList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: enhetId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Enhet
        - name: enhetId
          in: query
          description: Filter by Enhet
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ApiKey"
    post:
      description: Add a new ApiKey to a Enhet.
      tags:
        - Enhet
      operationId: PostEnhetApiKey
      parameters:
        - name: enhetId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Enhet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiKey"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKey"

  /enhet/{enhetId}/arkiv:
    get:
      description: Get a list of Arkiv for a Enhet.
      tags:
        - Enhet
      operationId: GetEnhetArkivList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: enhetId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Enhet
        - name: enhetId
          in: query
          description: Filter by Enhet
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Arkiv"

  /enhet/{enhetId}/innsynskravDel:
    get:
      description: Get a list of InnsynskravDel for a Enhet.
      tags:
        - Enhet
      operationId: GetEnhetInnsynskravDelList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - name: enhetId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Enhet
        - name: enhetId
          in: query
          description: Filter by Enhet
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/InnsynskravDel"

  /journalpost:
    get:
      description: Get a Journalpost list.
      tags:
        - Journalpost
      operationId: GetJournalpostList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - $ref: "#/components/parameters/StartingAfter"
        - $ref: "#/components/parameters/EndingBefore"
        - $ref: "#/components/parameters/IDs"
        - $ref: "#/components/parameters/ExternalIDs"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Journalpost"

  /journalpost/{journalpostId}:
    get:
      description: Get a single record.
      tags:
        - Journalpost
      operationId: GetJournalpost
      parameters:
        - $ref: "#/components/parameters/Expand"
        - name: journalpostId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Journalpost
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Journalpost"
    put:
      description: Update a record
      tags:
        - Journalpost
      operationId: PutJournalpost
      parameters:
        - name: journalpostId
          in: path
          required: true
          schema:
            type: string
          x-resourceId: Journalpost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Journalpost"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
[...]
