openapi: "3.0.0"

info:
  title: eInnsyn REST API
  version: "3.0"

servers:
  - url: https://api.einnsyn.no/

tags:
  - name: Arkiv
  - name: Arkivdel
  - name: Bruker
  - name: Dokumentbeskrivelse
  - name: Dokumentobjekt
  - name: Enhet
  - name: Innsynskrav
  - name: InnsynskravDel
  - name: Journalpost
  - name: Klasse
  - name: Korrespondansepart
  - name: Moetemappe
  - name: Saksmappe
  - name: Skjerming

paths:
  /arkiv/{id}:
    get:
      description: Get a single Arkiv.
      tags:
        - Arkiv
      operationId: GetArkiv
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Arkiv"
    put:
      description: Update a single Arkiv.
      tags:
        - Arkiv
      operationId: PutArkiv
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Arkiv"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Arkiv"
    delete:
      description: Delete a single Arkiv.
      tags:
        - Arkiv
      operationId: DeleteArkiv
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Arkiv"

  /arkivdel/{id}:
    get:
      description: Get a single Arkivdel.
      tags:
        - Arkivdel
      operationId: GetArkivdel
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Arkivdel"
    put:
      description: Update a single Arkivdel.
      tags:
        - Arkivdel
      operationId: PutArkivdel
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Arkivdel"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Arkivdel"
    delete:
      description: Delete a single Arkivdel.
      tags:
        - Arkivdel
      operationId: DeleteArkivdel
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Arkivdel"

  /behandlingsprotokoll/{id}:
    get:
      description: Get a single Behandlingsprotokoll.
      tags:
        - Behandlingsprotokoll
      operationId: GetBehandlingsprotokoll
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Behandlingsprotokoll"
    put:
      description: Update a single Behandlingsprotokoll.
      tags:
        - Behandlingsprotokoll
      operationId: PutBehandlingsprotokoll
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Behandlingsprotokoll"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Behandlingsprotokoll"
    delete:
      description: Delete a single Behandlingsprotokoll.
      tags:
        - Behandlingsprotokoll
      operationId: DeleteBehandlingsprotokoll
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Behandlingsprotokoll"

  /dokumentobjekt/{id}:
    get:
      description: Get a single Dokumentobjekt.
      tags:
        - Dokumentobjekt
      operationId: GetDokumentobjekt
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dokumentobjekt"
    put:
      description: Update a single Dokumentobjekt.
      tags:
        - Dokumentobjekt
      operationId: PutDokumentobjekt
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Dokumentobjekt"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dokumentobjekt"
    delete:
      description: Delete a single Dokumentobjekt.
      tags:
        - Dokumentobjekt
      operationId: DeleteDokumentobjekt
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dokumentobjekt"

  /identifikator/{id}:
    get:
      description: Get a single Identifikator.
      tags:
        - Identifikator
      operationId: GetIdentifikator
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Identifikator"
    put:
      description: Update a single Identifikator.
      tags:
        - Identifikator
      operationId: PutIdentifikator
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Identifikator"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Identifikator"
    delete:
      description: Delete a single Identifikator.
      tags:
        - Identifikator
      operationId: DeleteIdentifikator
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Identifikator"

  /innsynskrav:
    get:
      description: Get a Innsynskrav list.
      tags:
        - Innsynskrav
      operationId: GetInnsynskravList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Innsynskrav"

  /innsynskrav/{id}/:
    get:
      description: Get a Innsynskrav.
      tags:
        - Innsynskrav
      operationId: GetInnsynskrav
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Innsynskrav"
    put:
      description: Update a Innsynskrav.
      tags:
        - Innsynskrav
      operationId: PutInnsynskrav
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Innsynskrav"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Innsynskrav"
    delete:
      description: Delete a request.
      tags:
        - Innsynskrav
      operationId: DeleteInnsynskrav
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Innsynskrav"

  /innsynskravDel/{id}:
    get:
      description: Get a single InnsynskravDel.
      tags:
        - InnsynskravDel
      operationId: GetInnsynskravDel
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InnsynskravDel"
    put:
      description: Update a single InnsynskravDel.
      tags:
        - InnsynskravDel
      operationId: PutInnsynskravDel
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InnsynskravDel"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InnsynskravDel"
    delete:
      description: Delete a single InnsynskravDel.
      tags:
        - InnsynskravDel
      operationId: DeleteInnsynskravDel
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InnsynskravDel"

  /klasse/{id}:
    get:
      description: Get a single Klasse.
      tags:
        - Klasse
      operationId: GetKlasse
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Klasse"
    put:
      description: Update a single Klasse.
      tags:
        - Klasse
      operationId: PutKlasse
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Klasse"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Klasse"
    delete:
      description: Delete a single Klasse.
      tags:
        - Klasse
      operationId: DeleteKlasse
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Klasse"

  /korrespondansepart/{id}:
    get:
      description: Get a single Korrespondansepart.
      tags:
        - Korrespondansepart
      operationId: GetKorrespondansepart
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Korrespondansepart"
    put:
      description: Update a single Korrespondansepart.
      tags:
        - Korrespondansepart
      operationId: PutKorrespondansepart
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Korrespondansepart"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Korrespondansepart"
    delete:
      description: Delete a single Korrespondansepart.
      tags:
        - Korrespondansepart
      operationId: DeleteKorrespondansepart
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Korrespondansepart"

  /lagretSak/{id}:
    get:
      description: Get a single LagretSak.
      tags:
        - LagretSak
      operationId: GetLagretSak
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LagretSak"
    put:
      description: Update a single LagretSak.
      tags:
        - LagretSak
      operationId: PutLagretSak
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LagretSak"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LagretSak"
    delete:
      description: Delete a single LagretSak.
      tags:
        - LagretSak
      operationId: DeleteLagretSak
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LagretSak"

  /lagretSoek/{id}:
    get:
      description: Get a single LagretSoek.
      tags:
        - LagretSoek
      operationId: GetLagretSoek
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LagretSoek"
    put:
      description: Update a single LagretSoek.
      tags:
        - LagretSoek
      operationId: PutLagretSoek
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LagretSoek"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LagretSoek"
    delete:
      description: Delete a single LagretSoek.
      tags:
        - LagretSoek
      operationId: DeleteLagretSoek
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LagretSoek"

  /moetedeltaker/{id}:
    get:
      description: Get a single Moetedeltaker.
      tags:
        - Moetedeltaker
      operationId: GetMoetedeltaker
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetedeltaker"
    put:
      description: Update a single Moetedeltaker.
      tags:
        - Moetedeltaker
      operationId: PutMoetedeltaker
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Moetedeltaker"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetedeltaker"
    delete:
      description: Delete a single Moetedeltaker.
      tags:
        - Moetedeltaker
      operationId: DeleteMoetedeltaker
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetedeltaker"

  /moetedokument/{id}:
    get:
      description: Get a single Moetedokument.
      tags:
        - Moetedokument
      operationId: GetMoetedokument
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetedokument"
    put:
      description: Update a single Moetedokument.
      tags:
        - Moetedokument
      operationId: PutMoetedokument
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Moetedokument"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetedokument"
    delete:
      description: Delete a single Moetedokument.
      tags:
        - Moetedokument
      operationId: DeleteMoetedokument
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetedokument"

  /moetesak/{id}:
    get:
      description: Get a single Moetesak.
      tags:
        - Moetesak
      operationId: GetMoetesak
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetesak"
    put:
      description: Update a single Moetesak.
      tags:
        - Moetesak
      operationId: PutMoetesak
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Moetesak"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetesak"
    delete:
      description: Delete a single Moetesak.
      tags:
        - Moetesak
      operationId: DeleteMoetesak
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetesak"

  /moetesaksbeskrivelse/{id}:
    get:
      description: Get a single Moetesaksbeskrivelse.
      tags:
        - Moetesaksbeskrivelse
      operationId: GetMoetesaksbeskrivelse
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetesaksbeskrivelse"
    put:
      description: Update a single Moetesaksbeskrivelse.
      tags:
        - Moetesaksbeskrivelse
      operationId: PutMoetesaksbeskrivelse
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Moetesaksbeskrivelse"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetesaksbeskrivelse"
    delete:
      description: Delete a single Moetesaksbeskrivelse.
      tags:
        - Moetesaksbeskrivelse
      operationId: DeleteMoetesaksbeskrivelse
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetesaksbeskrivelse"

  /skjerming/{id}:
    get:
      description: Get a single Skjerming.
      tags:
        - Skjerming
      operationId: GetSkjerming
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skjerming"
    put:
      description: Update a single Skjerming.
      tags:
        - Skjerming
      operationId: PutSkjerming
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Skjerming"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skjerming"
    delete:
      description: Delete a single Skjerming.
      tags:
        - Skjerming
      operationId: DeleteSkjerming
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skjerming"

  /utredning/{id}:
    get:
      description: Get a single Utredning.
      tags:
        - Utredning
      operationId: GetUtredning
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Utredning"
    put:
      description: Update a single Utredning.
      tags:
        - Utredning
      operationId: PutUtredning
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Utredning"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Utredning"
    delete:
      description: Delete a single Utredning.
      tags:
        - Utredning
      operationId: DeleteUtredning
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Utredning"

  /vedtak/{id}:
    get:
      description: Get a single Vedtak.
      tags:
        - Vedtak
      operationId: GetVedtak
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vedtak"
    put:
      description: Update a single Vedtak.
      tags:
        - Vedtak
      operationId: PutVedtak
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Vedtak"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vedtak"
    delete:
      description: Delete a single Vedtak.
      tags:
        - Vedtak
      operationId: DeleteVedtak
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vedtak"

  /votering/{id}:
    get:
      description: Get a single Votering.
      tags:
        - Votering
      operationId: GetVotering
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Votering"
    put:
      description: Update a single Votering.
      tags:
        - Votering
      operationId: PutVotering
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Votering"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Votering"
    delete:
      description: Delete a single Votering.
      tags:
        - Votering
      operationId: DeleteVotering
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Votering"

  /enhet:
    get:
      description: Get a Enhet list.
      tags:
        - Enhet
      operationId: GetEnhetList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Enhet"
    post:
      description: Add a new Enhet.
      tags:
        - Enhet
      operationId: PostEnhet
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Enhet"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enhet"

  /enhet/{id}:
    get:
      description: Get a single Enhet.
      tags:
        - Enhet
      operationId: GetEnhet
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enhet"
    put:
      description: Update a single Enhet.
      tags:
        - Enhet
      operationId: PutEnhet
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enhet"
    delete:
      description: Delete a single Enhet.
      tags:
        - Enhet
      operationId: DeleteEnhet
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enhet"

  /enhet/{id}/underenhet:
    get:
      description: Get all underenhet for a Enhet.
      tags:
        - Enhet
      operationId: GetUnderenhetList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Enhet"

    post:
      description: Add a subEnhet to a Enhet.
      tags:
        - Enhet
      operationId: PostEnhetUnderenhet
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Enhet"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enhet"

  /enhet/{id}/underenhet/{subId}:
    delete:
      description: Delete a subEnhet from a Enhet.
      tags:
        - Enhet
      operationId: DeleteUnderenhet
      parameters:
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/SubId"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Enhet"

  /journalpost:
    get:
      description: Get a list of journalpost.
      tags:
        - Journalpost
      operationId: GetJournalpostList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Journalpost"
    post:
      description: Add a new journalpost.
      tags:
        - Journalpost
      operationId: PostJournalpost
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Journalpost"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Journalpost"

  /journalpost/{id}:
    get:
      description: Get a single record.
      tags:
        - Journalpost
      operationId: GetJournalpost
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Journalpost"
    put:
      description: Update a record
      tags:
        - Journalpost
      operationId: PutJournalpost
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Journalpost"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Journalpost"
    delete:
      description: Delete a record.
      tags:
        - Journalpost
      operationId: DeleteJournalpost
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Journalpost"

  /dokumentbeskrivelse/{id}:
    description: Metadata for actual downloadable files.
    get:
      description: Get a single record.
      tags:
        - Dokumentbeskrivelse
      operationId: GetDokumentbeskrivelse
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dokumentbeskrivelse"
    put:
      description: Update a document
      tags:
        - Dokumentbeskrivelse
      operationId: PutDokumentbeskrivelse
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Dokumentbeskrivelse"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dokumentbeskrivelse"
    delete:
      description: Delete a document.
      tags:
        - Dokumentbeskrivelse
      operationId: DeleteDokumentbeskrivelse
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Dokumentbeskrivelse"

  /dokumentbeskrivelse/{id}/download/{id}.{docExtension}:
    get:
      description: Download the binary file.
      tags:
        - Dokumentbeskrivelse
      operationId: DownloadDokumentbeskrivelse
      parameters:
        - $ref: "#/components/parameters/Id"
        - in: path
          name: docExtension
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  /saksmappe:
    get:
      description: Get a Saksmappe list.
      tags:
        - Saksmappe
      operationId: GetSaksmappeList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Saksmappe"
    post:
      description: Add a new Saksmappe.
      tags:
        - Saksmappe
      operationId: PostSaksmappe
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Saksmappe"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Saksmappe"

  /saksmappe/{id}:
    get:
      description: Get a Saksmappe.
      tags:
        - Saksmappe
      operationId: GetSaksmappe
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Saksmappe"
    put:
      description: Update a Saksmappe.
      tags:
        - Saksmappe
      operationId: PutSaksmappe
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Saksmappe"
    delete:
      description: Delete a Saksmappe.
      tags:
        - Saksmappe
      operationId: DeleteSaksmappe
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Saksmappe"

  /saksmappe/{id}/journalpost:
    get:
      description: Get Journalpost list for a Saksmappe.
      tags:
        - Saksmappe
      operationId: GetSaksmappeJournalpostList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Journalpost"

    post:
      description: Add a Journalpost to a Saksmappe.
      tags:
        - Saksmappe
      operationId: PostSaksmappeJournalpost
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Journalpost"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Saksmappe"

  /saksmappe/{id}/journalpost/{subId}:
    delete:
      description: Remove a Journalpost from a Saksmappe.
      tags:
        - Saksmappe
      operationId: RemoveJournalpostFromSaksmappe
      parameters:
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/SubId"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Saksmappe"

  /moetemappe:
    get:
      description: Get a Moetemappe list.
      tags:
        - Moetemappe
      operationId: GetMoetemappeList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Moetemappe"
    post:
      description: Add a new Moetemappe.
      tags:
        - Moetemappe
      operationId: PostMoetemappe
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Moetemappe"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetemappe"

  /moetemappe/{id}:
    get:
      description: Get a Moetemappe.
      tags:
        - Moetemappe
      operationId: GetMoetemappe
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetemappe"
    put:
      description: Update a Moetemappe.
      tags:
        - Moetemappe
      operationId: PutMoetemappe
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Moetemappe"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetemappe"
    delete:
      description: Delete a Moetemappe.
      tags:
        - Moetemappe
      operationId: DeleteMoetemappe
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetemappe"

  /moetemappe/{id}/moetedokument:
    get:
      description: Get a Moetedokument list.
      tags:
        - Moetemappe
      operationId: GetMoetedokumentList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Moetedokument"
    post:
      description: Add a document to a meeting.
      tags:
        - Moetemappe
      operationId: PostMoetemappeMoetedokument
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Moetedokument"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetemappe"

  /moetemappe/{id}/moetedokument/{subId}:
    delete:
      description: >-
        Remove a document from a meeting. This will delete the Moetedokument if it is orphaned.
      tags:
        - Moetemappe
      operationId: RemoveMoetedokumentFromMoetemappe
      parameters:
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/SubId"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetemappe"

  /moetemappe/{id}/moetesak:
    get:
      description: Get a Moetesak list for a Moetemappe.
      tags:
        - Moetemappe
      operationId: GetMoetemappeMoetesakList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Moetesak"
    post:
      description: Add a Moetesak to a Moetemappe.
      tags:
        - Moetemappe
      operationId: PostMoetemappeMoetesak
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Moetesak"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetemappe"

  /moetemappe/{id}/moetesak/{subId}:
    delete:
      description: Remove a Moetesak from a Moetemappe. This will delete the Moetesak if it is orphaned.
      tags:
        - Moetemappe
      operationId: RemoveMoetesakFromMoetemappe
      parameters:
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/SubId"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Moetemappe"

  /bruker:
    get:
      description: Get a Bruker list.
      tags:
        - Bruker
      operationId: GetBrukerList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Bruker"
    post:
      description: Add a new Bruker.
      tags:
        - Bruker
      operationId: PostBruker
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Bruker"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bruker"

  /bruker/{id}:
    get:
      description: Get a single Bruker.
      tags:
        - Bruker
      operationId: GetBruker
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bruker"
    put:
      description: Update a single Bruker.
      tags:
        - Bruker
      operationId: PutBruker
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bruker"
    delete:
      description: Delete a single Bruker.
      tags:
        - Bruker
      operationId: DeleteBruker
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bruker"

  /bruker/{id}/innsynskrav:
    get:
      description: Get all innsynskrav for a Bruker.
      tags:
        - Bruker
      operationId: GetBrukerInnsynskravList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Innsynskrav"

    post:
      description: Add a Innsynskrav to a Bruker.
      tags:
        - Bruker
      operationId: PostBrukerInnsynskrav
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Innsynskrav"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bruker"

  /bruker/{id}/innsynskrav/{subId}:
    delete:
      description: Delete a Innsynskrav from a Bruker.
      tags:
        - Bruker
      operationId: DeleteBrukerInnsynskrav
      parameters:
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/SubId"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bruker"

  /bruker/{id}/lagretSoek:
    get:
      description: Get LagretSoek list for a Bruker.
      tags:
        - Bruker
      operationId: GetBrukerLagretSoekList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/LagretSoek"

    post:
      description: Add a saved search to a Bruker.
      tags:
        - Bruker
      operationId: PostBrukerLagretSoek
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LagretSoek"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bruker"

  /bruker/{id}/lagretSoek/{subId}:
    delete:
      description: Delete a LagretSoek from a Bruker.
      tags:
        - Bruker
      operationId: DeleteBrukerLagretSoek
      parameters:
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/SubId"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bruker"

  /bruker/{id}/lagretSak:
    get:
      description: Get LagretSak list for a Bruker.
      tags:
        - Bruker
      operationId: GetBrukerLagretSakList
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/Limit"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/LagretSak"

    post:
      description: Add a saved case to a Bruker.
      tags:
        - Bruker
      operationId: PostBrukerLagretSak
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LagretSak"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bruker"

  /bruker/{id}/lagretSak/{subId}:
    delete:
      description: Delete a LagretSak from a Bruker.
      tags:
        - Bruker
      operationId: DeleteBrukerLagretSak
      parameters:
        - $ref: "#/components/parameters/Id"
        - $ref: "#/components/parameters/SubId"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bruker"

  /bruker/{id}/activate/{secret}:
    post:
      description: Activate a Bruker.
      tags:
        - Bruker
      operationId: Activate
      parameters:
        - $ref: "#/components/parameters/Id"
        - in: path
          name: secret
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bruker"

  /bruker/{id}/updatePassword:
    put:
      description: Update password for a Bruker.
      tags:
        - Bruker
      operationId: PutBrukerPassword
      parameters:
        - $ref: "#/components/parameters/Id"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                oldPassword:
                  type: string
                  format: password
                newPassword:
                  type: string
                  format: password
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bruker"

  /bruker/{id}/updatePassword/{secret}:
    put:
      description: Update password for a Bruker.
      tags:
        - Bruker
      operationId: PutBrukerPasswordWithSecret
      parameters:
        - $ref: "#/components/parameters/Id"
        - in: path
          name: secret
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                newPassword:
                  type: string
                  format: password
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bruker"

  /bruker/{id}/requestPasswordReset:
    post:
      description: Request password reset for a Bruker.
      tags:
        - Bruker
      operationId: RequestPasswordReset
      parameters:
        - $ref: "#/components/parameters/Id"
      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bruker"

  /search:
    get:
      description: Search Journalpost, Moetemappe, Moetesak, Saksmappe
      operationId: Search
      parameters:
        - $ref: "#/components/parameters/Expand"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/SortOrder"
        - name: sortBy
          in: query
          description: >-
            The field to sort the result set by. The default is created.
          required: false
          schema:
            type: string
            enum:
              [
                "created",
                "updated",
                "offentligTittel",
                "offentligTittelSensitiv",
              ]
        - name: query
          in: query
          description: >-
            A query string used to filter the result set.
          required: false
          schema:
            type: string
        - name: resource
          in: query
          description: >-
            Filter the source by resource type.
          required: false
          schema:
            type: string
            enum: ["Journalpost", "Moetemappe", "Moetesak", "Saksmappe"]
        - name: administrativEnhetId
          in: query
          description: >-
            Filter the source by administrativEnhetId.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: administrativEnhetTransitiveId
          in: query
          description: >-
            Filter the source by administrativeEnhet, including parent units.
          required: false
          schema:
            type: array
            items:
              type: string

      responses:
        "200":
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: "#/components/schemas/ResultList"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          anyOf:
                            - $ref: "#/components/schemas/Journalpost"
                            - $ref: "#/components/schemas/Moetemappe"
                            - $ref: "#/components/schemas/Moetesak"
                            - $ref: "#/components/schemas/Saksmappe"

security:
  - ApiKey: []

components:
  schemas:
    Base:
      type: object
      x-resourceId: Base
      properties:
        id:
          type: string
          readOnly: true
        created:
          type: string
          format: date-time
          readOnly: true
        updated:
          type: string
          format: date-time
          readOnly: true
        deleted:
          type: boolean
          readOnly: true
        entity:
          type: string
          readOnly: true
      required:
        - id
        - created
        - updated
        - entity

    ArkivBase:
      type: object
      x-resourceId: ArkivBase
      allOf:
        - $ref: "#/components/schemas/Base"
        - properties:
            systemId:
              type: string
            journalenhet:
              readOnly: true
              anyOf:
                - type: string
                - $ref: "#/components/schemas/Enhet"
          required:
            - journalenhet
          x-expandableFields:
            - journalenhet

    Arkiv:
      type: object
      x-resourceId: Arkiv
      allOf:
        - $ref: "#/components/schemas/ArkivBase"
        - properties:
            tittel:
              type: string
              maxLength: 500
          required:
            - tittel

    Arkivdel:
      type: object
      x-resourceId: Arkivdel
      allOf:
        - $ref: "#/components/schemas/ArkivBase"
        - properties:
            entity:
              type: string
              enum: ["Arkivdel"]
              readOnly: true
            tittel:
              type: string
              maxLength: 500
          required:
            - tittel

    Klasse:
      type: object
      x-resourceId: Klasse
      allOf:
        - $ref: "#/components/schemas/ArkivBase"
        - type: object
          properties:
            entity:
              type: string
              enum: ["Klasse"]
              readOnly: true
            tittel:
              type: string
              maxLength: 500
          required:
            - tittel

    Registrering:
      type: object
      x-resourceId: Registrering
      allOf:
        - $ref: "#/components/schemas/ArkivBase"
        - type: object
          properties:
            offentligTittel:
              type: string
              maxLength: 500
            offentligTittelSensitiv:
              type: string
              maxLength: 500
            beskrivelse:
              type: string
              maxLength: 500
            skjerming:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Skjerming"
            korrespondansepart:
              type: array
              items:
                anyOf:
                  - type: string
                    maxLength: 500
                  - $ref: "#/components/schemas/Korrespondansepart"
            dokumentbeskrivelse:
              type: array
              items:
                anyOf:
                  - type: string
                    maxLength: 500
                  - $ref: "#/components/schemas/Dokumentbeskrivelse"
          required:
            - offentligTittel
            - offentligTittelSensitiv
          x-expandableFields:
            - skjerming
            - korrespondansepart
            - dokumentbeskrivelse

    Journalpost:
      type: object
      x-resourceId: Journalpost
      allOf:
        - $ref: "#/components/schemas/Registrering"
        - type: object
          properties:
            entity:
              type: string
              enum: ["Journalpost"]
            journalaar:
              type: integer
            journalsekvensnummer:
              type: integer
            journalpostnummer:
              type: integer
            journalposttype:
              type: string
            journaldato:
              type: string
              format: date
            dokumentetsDato:
              type: string
              format: date
            sorteringstype:
              type: string
              readOnly: true
            saksmappe:
              anyOf:
                - type: string
                - $ref: "#/components/schemas/Saksmappe"
          required:
            - journalaar
            - journalsekvensnummer
            - journalpostnummer
            - journalposttype
            - journaldato
          x-expandableFields:
            - saksmappe

    Mappe:
      type: object
      x-resourceId: Mappe
      allOf:
        - $ref: "#/components/schemas/ArkivBase"
        - type: object
          properties:
            offentligTittel:
              type: string
              maxLength: 500
            offentligTittelSensitiv:
              type: string
              maxLength: 500
            beskrivelse:
              type: string
              maxLength: 500
            noekkelord:
              type: string
              maxLength: 500
            parent:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Mappe"
                - $ref: "#/components/schemas/Arkiv"
                - $ref: "#/components/schemas/Arkivdel"
                - $ref: "#/components/schemas/Klasse"
          required:
            - offentligTittel
            - offentligTittelSensitiv
          x-expandableFields:
            - parent

    Saksmappe:
      type: object
      x-resourceId: Saksmappe
      allOf:
        - $ref: "#/components/schemas/Mappe"
        - type: object
          properties:
            entity:
              type: string
              enum: ["Saksmappe"]
              readOnly: true
            saksaar:
              type: integer
            sakssekvensnummer:
              type: integer
            saksdato:
              type: string
              format: date
              maxLength: 500
            journalpost:
              type: array
              items:
                anyOf:
                  - type: string
                    maxLength: 500
                  - $ref: "#/components/schemas/Journalpost"
            administrativEnhet:
              type: string
              maxLength: 500
            administrativEnhetObjekt:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Enhet"
          required:
            - saksaar
            - sakssekvensnummer
          x-expandableFields:
            - journalpost
            - administrativEnhetObjekt

    Moetemappe:
      type: object
      x-resourceId: Moetemappe
      allOf:
        - $ref: "#/components/schemas/Mappe"
        - type: object
          properties:
            entity:
              type: string
              enum: ["Moetemappe"]
              readOnly: true
            moetenummer:
              type: string
              maxLength: 500
            utvalg:
              type: string
              maxLength: 500
            utvalgObjekt:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Enhet"
            moetedato:
              type: string
              format: date-time
              maxLength: 500
            moetested:
              type: string
              maxLength: 500
            videoLink:
              type: string
              maxLength: 5000
            referanseForrigeMoete:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Moetemappe"
            referanseNesteMoete:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Moetemappe"
            moetedokument:
              type: array
              items:
                anyOf:
                  - type: string
                    maxLength: 500
                  - $ref: "#/components/schemas/Moetedokument"
            moetesak:
              type: array
              items:
                anyOf:
                  - type: string
                    maxLength: 500
                  - $ref: "#/components/schemas/Moetesak"
          required:
            - moetenummer
            - utvalg
            - moetedato
          x-expandableFields:
            - utvalgObjekt
            - referanseForrigeMoete
            - referanseNesteMoete
            - moetedokument
            - moetesak

    Moetesak:
      type: object
      x-resourceId: Moetesak
      allOf:
        - $ref: "#/components/schemas/Registrering"
        - type: object
          properties:
            entity:
              type: string
              enum: ["Moetesak"]
              readOnly: true
            moetesakstype:
              type: string
              maxLength: 500
            moetesaksaar:
              type: integer
            moetesakssekvensnummer:
              type: integer
            administrativEnhet:
              type: string
              maxLength: 500
            administrativEnhetObjekt:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Enhet"
            videoLink:
              type: string
              maxLength: 500
            utredning:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Utredning"
            innstilling:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Moetesaksbeskrivelse"
            vedtak:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Vedtak"
            moetemappe:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Moetemappe"
          required:
            - moetesakstype
            - moetesaksaar
            - moetesakssekvensnummer
          x-expandableFields:
            - administrativEnhetObjekt
            - utredning
            - innstilling
            - vedtak
            - moetemappe

    Utredning:
      type: object
      x-resourceId: Utredning
      allOf:
        - $ref: "#/components/schemas/ArkivBase"
        - type: object
          properties:
            entity:
              type: string
              enum: ["Utredning"]
              readOnly: true
            saksbeskrivelse:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Moetesaksbeskrivelse"
            innstilling:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Moetesaksbeskrivelse"
            utredningsdokumenter:
              type: array
              items:
                anyOf:
                  - type: string
                    maxLength: 500
                  - $ref: "#/components/schemas/Dokumentbeskrivelse"
          required:
            - saksbeskrivelse
            - innstilling
          x-expandableFields:
            - saksbeskrivelse
            - innstilling
            - utredningsdokumenter

    Vedtak:
      type: object
      x-resourceId: Vedtak
      allOf:
        - $ref: "#/components/schemas/ArkivBase"
        - type: object
          properties:
            entity:
              type: string
              enum: ["Vedtak"]
              readOnly: true
            vedtakstekst:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Moetesaksbeskrivelse"
            votering:
              type: array
              items:
                anyOf:
                  - type: string
                    maxLength: 500
                  - $ref: "#/components/schemas/Votering"
            behandlingsprotokoll:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Behandlingsprotokoll"
            vedtaksdokumenter:
              type: array
              items:
                anyOf:
                  - type: string
                    maxLength: 500
                  - $ref: "#/components/schemas/Dokumentbeskrivelse"
            dato:
              type: string
              format: date
              maxLength: 500
          required:
            - vedtakstekst
            - dato
          x-expandableFields:
            - vedtakstekst
            - votering
            - behandlingsprotokoll
            - vedtaksdokumenter

    Votering:
      type: object
      x-resourceId: Votering
      allOf:
        - $ref: "#/components/schemas/ArkivBase"
        - type: object
          properties:
            entity:
              type: string
              enum: ["Votering"]
              readOnly: true
            moetedeltaker:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Moetedeltaker"
            stemme:
              type: string
              enum:
                - Ja
                - Nei
                - Blankt
            representerer:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Identifikator"
          required:
            - moetedeltaker
            - stemme
          x-expandableFields:
            - moetedeltaker
            - representerer

    Moetesaksbeskrivelse:
      type: object
      x-resourceId: Moetesaksbeskrivelse
      allOf:
        - $ref: "#/components/schemas/ArkivBase"
        - type: object
          properties:
            entity:
              type: string
              enum: ["Moetesaksbeskrivelse"]
              readOnly: true
            tekstInnhold:
              type: string
              maxLength: 500
            tekstFormat:
              type: string
              maxLength: 500
          required:
            - tekstInnhold
            - tekstFormat

    Behandlingsprotokoll:
      type: object
      x-resourceId: Behandlingsprotokoll
      allOf:
        - $ref: "#/components/schemas/ArkivBase"
        - type: object
          properties:
            entity:
              type: string
              enum: ["Behandlingsprotokoll"]
              readOnly: true
            tekstInnhold:
              type: string
              maxLength: 500
            tekstFormat:
              type: string
              maxLength: 500
          required:
            - tekstInnhold
            - tekstFormat

    Moetedeltaker:
      type: object
      x-resourceId: Moetedeltaker
      allOf:
        - $ref: "#/components/schemas/ArkivBase"
        - type: object
          properties:
            entity:
              type: string
              enum: ["Moetedeltaker"]
              readOnly: true
            moetedeltakerNavn:
              type: string
              maxLength: 500
            moetedeltakerFunksjon:
              type: string
              maxLength: 500
          required:
            - moetedeltakerNavn

    Korrespondansepart:
      type: object
      x-resourceId: Korrespondansepart
      allOf:
        - $ref: "#/components/schemas/ArkivBase"
        - type: object
          properties:
            entity:
              type: string
              enum: ["Korrespondansepart"]
              readOnly: true
            korrespondansepartNavn:
              type: string
              maxLength: 500
            korrespondansepartNavnSensitiv:
              type: string
              maxLength: 500
            korrespondanseparttype:
              type: string
              maxLength: 500
            journalpost:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Journalpost"
          required:
            - korrespondansepartNavn
            - korrespondansepartNavnSensitiv
            - korrespondanseparttype
            - journalpost
          x-expandableFields:
            - journalpost

    Skjerming:
      type: object
      x-resourceId: Skjerming
      allOf:
        - $ref: "#/components/schemas/ArkivBase"
        - properties:
            entity:
              type: string
              enum: ["Skjerming"]
              readOnly: true
            skjermingshjemmel:
              type: string
              maxLength: 500
            tilgangsrestriksjon:
              type: string
              maxLength: 500
          required:
            - tilgangsrestriksjon

    Identifikator:
      type: object
      x-resourceId: Identifikator
      allOf:
        - $ref: "#/components/schemas/ArkivBase"
        - properties:
            entity:
              type: string
              enum: ["Identifikator"]
              readOnly: true
            navn:
              type: string
              maxLength: 500
            identifikator:
              type: string
              maxLength: 500
            initialer:
              type: string
              maxLength: 500
            epostadresse:
              type: string
              maxLength: 500

    Bruker:
      type: object
      x-resourceId: Bruker
      allOf:
        - $ref: "#/components/schemas/Base"
        - properties:
            entity:
              type: string
              enum: ["Bruker"]
              readOnly: true
            email:
              type: string
              format: email
              maxLength: 500
            active:
              type: boolean
              default: false
              readOnly: true
            language:
              type: string
              default: nb
              enum:
                - nb
                - nn
                - en
                - se
            savedSaksmappe:
              type: array
              readOnly: true
              items:
                anyOf:
                  - type: string
                    maxLength: 500
                  - $ref: "#/components/schemas/Saksmappe"
            savedSearch:
              type: array
              readOnly: true
              items:
                anyOf:
                  - type: string
                    maxLength: 500
                  - $ref: "#/components/schemas/LagretSoek"
            innsynskrav:
              type: array
              readOnly: true
              items:
                anyOf:
                  - type: string
                    maxLength: 500
                  - $ref: "#/components/schemas/Innsynskrav"
            innsynskravDel:
              type: array
              readOnly: true
              items:
                anyOf:
                  - type: string
                    maxLength: 500
                  - $ref: "#/components/schemas/InnsynskravDel"
          required:
            - email
          x-expandableFields:
            - savedSaksmappe
            - savedSearch
            - innsynskrav
            - innsynskravDel

    Innsynskrav:
      type: object
      x-resourceId: Innsynskrav
      allOf:
        - $ref: "#/components/schemas/Base"
        - properties:
            entity:
              type: string
              enum: ["Innsynskrav"]
              readOnly: true
            email:
              type: string
              format: email
              maxLength: 500
            innsynskravDel:
              type: array
              items:
                anyOf:
                  - type: string
                    maxLength: 500
                  - $ref: "#/components/schemas/InnsynskravDel"
            # sendtTilVirksomhet date?
            verified:
              type: boolean
              default: false
              readOnly: true
            bruker:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Bruker"
            language:
              type: string
              enum:
                - nb
                - nn
                - en
                - se
          required:
            - email
            - innsynskravDel
          x-expandableFields:
            - bruker
            - innsynskravDel

    InnsynskravDel:
      type: object
      x-resourceId: InnsynskravDel
      allOf:
        - $ref: "#/components/schemas/Base"
        - properties:
            entity:
              type: string
              enum: ["InnsynskravDel"]
              readOnly: true
            innsynskrav:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Innsynskrav"
            journalpost:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Journalpost"
          required:
            - innsynskrav
            - journalpost
          x-expandableFields:
            - innsynskrav
            - journalpost

    Enhet:
      type: object
      x-resourceId: Enhet
      allOf:
        - $ref: "#/components/schemas/Base"
        - properties:
            entity:
              type: string
              enum: ["Enhet"]
              readOnly: true
            navn:
              type: string
              maxLength: 500
            navnNynorsk:
              type: string
              maxLength: 500
            navnEngelsk:
              type: string
              maxLength: 500
            navnSami:
              type: string
              maxLength: 500
            orgnummer:
              type: string
              maxLength: 500
            enhetskode:
              type: string
              maxLength: 500
            kontaktpunktAdresse:
              type: string
              maxLength: 500
            kontaktpunktEpost:
              type: string
              format: email
              maxLength: 500
            kontaktpunktTelefon:
              type: string
              maxLength: 500
            innsynskravEpost:
              type: string
              format: email
              maxLength: 500
            enhetstype:
              type: string
              enum:
                - VIRKSOMHET
                - UTVALG
                - AVDELING
                - ADMINISTRATIVENHET
                - SEKSJON
                - BYDEL
                - KOMMUNE
            skjult:
              type: boolean
              default: false
            eFormidling:
              type: boolean
              default: false
            teknisk:
              type: boolean
              default: false
            skalKonvertereId:
              type: boolean
              default: false
            skalMottaKvittering:
              type: boolean
              default: false
            orderXmlVersjon:
              type: string
              maxLength: 500
            parent:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Enhet"
          required:
            - navn
            - orgnummer
            - kontaktpunktEpost
            - innsynskravEpost
            - enhetstype
          x-expandableFields:
            - parent

    Dokumentbeskrivelse:
      type: object
      x-resourceId: Dokumentbeskrivelse
      allOf:
        - $ref: "#/components/schemas/ArkivBase"
        - properties:
            entity:
              type: string
              enum: ["Dokumentbeskrivelse"]
              readOnly: true
            tittel:
              type: string
            tittelSensitiv:
              type: string
            dokumenttype:
              type: string
            dokumentnummer:
              type: integer
            tilknyttetRegistreringSom:
              type: string
            dokumentobjekt:
              anyOf:
                - type: string
                  maxLength: 500
                - $ref: "#/components/schemas/Dokumentobjekt"
          required:
            - tittel
            - tittelSensitiv
            - dokumenttype
            - dokumentnummer
            - tilknyttetRegistreringSom

    Dokumentobjekt:
      type: object
      x-resourceId: Dokumentobjekt
      allOf:
        - $ref: "#/components/schemas/ArkivBase"
        - properties:
            entity:
              type: string
              enum: ["Dokumentobjekt"]
              readOnly: true
            referanseDokumentfil:
              type: string
              format: url
            format:
              type: string
            sjekksum:
              type: string
            sjekksumAlgoritme:
              type: string
          required:
            - referanseDokumentfil
            - format
            - sjekksum
            - sjekksumAlgoritme

    Moetedokument:
      type: object
      x-resourceId: Moetedokument
      allOf:
        - $ref: "#/components/schemas/Registrering"
        - properties:
            entity:
              type: string
              enum: ["Moetedokument"]
              readOnly: true
            moetedokumenttype:
              type: string

    LagretSoek:
      type: object
      x-resourceId: LagretSoek
      allOf:
        - $ref: "#/components/schemas/Base"
        - properties:
            entity:
              type: string
              enum: ["LagretSoek"]
              readOnly: true
            query:
              type: string

    LagretSak:
      type: object
      x-resourceId: LagretSak
      allOf:
        - $ref: "#/components/schemas/Base"
        - properties:
            entity:
              type: string
              enum: ["LagretSak"]
              readOnly: true
            query:
              type: string

    ResultList:
      type: object
      x-resourceId: ResultList
      properties:
        next:
          type: string
          readOnly: true
        previous:
          type: string
          readOnly: true

  parameters:
    Id:
      in: path
      name: id
      required: true
      schema:
        type: string

    SubId:
      in: path
      name: subId
      required: true
      schema:
        type: string

    Expand:
      description: >-
        Specifies which fields in the response should be expanded.
      explode: true
      in: query
      name: expand
      required: false
      schema:
        items:
          maxLength: 500
          type: string
        type: array
        default: []
      style: deepObject

    Limit:
      description: >-
        A limit on the number of objects to be returned. Limit can range
        between 1 and 100, and the default is 10.
      in: query
      name: limit
      required: false
      schema:
        type: integer

    SortOrder:
      description: >-
        The sort order of the result set. The default is ascending.
      in: query
      name: sortOrder
      required: false
      schema:
        type: string
        enum: ["asc", "desc"]
